body {
  background-color: lightblue;
}

.jumbotron {
 background-color: lightgreen;
 border-color: black;
}

.well {
  background-color: lightgreen;
  border-color: black;

}

.center {
  text-align: center;
}

input {
  align-items: center;
  width: 100%;
}
